<!DOCTYPE html>
<html>
    {{>head}} 
    <body>
        <div class= "main-content">
            {{>header}}
        </div>

        <section class="bantuan" id="bantuan">
            <div class="container">
                <h2>FAQ (Frequently Asked Questions) 🤔😊</h2>
                <div class="box">
                    <div class="teks">
                    <h3>1. Halaman ini digunakan untuk apa?</h3>
                    <p>Halaman Bantuan digunakan untuk memberikan panduan, jawaban atas pertanyaan umum, dan 
                        solusi bagi pengguna yang mengalami kesulitan dalam menggunakan fitur atau layanan di website.</p>
                </div>
            </div>

                <div class="box">
                    <div class="teks">
                    <h3>2. Apa itu API</h3>
                    <p>API (Application Programming Interface) adalah jembatan yang memungkinkan 
                        dua aplikasi atau sistem berbeda saling berkomunikasi dan bertukar data.</p>
                </div>
            </div>

                <div class="box">
                    <div class="teks"> 
                    <h3>3. API apa yang digunakan dalam aplikasi ini?</h3>
                    <p>API yang digunakan dalam aplikasi ini adalah MediaStack News API, Geocoding API, dan Weather API</p>
                </div>
                </div>

                <div class="box">
                    <div class="teks">
                    <h3>4. Salah satu pola arsitektur API adalah SOAP API</h3>
                    <img src="/img/SOAP.png">
                    <p>SOAP API (Simple Object Access Protocol) adalah sebuah protokol komunikasi berbasis XML yang digunakan untuk menukar data antara aplikasi melalui jaringan, biasanya lewat HTTP atau HTTPS.
                    SOAP dirancang agar data yang dikirim bersifat standar, aman, dan dapat digunakan lintas platform maupun bahasa pemrograman.<br><br>
                    
                    SOAP juga mendukung fitur keamanan tingkat tinggi (WS-Security), transaksi kompleks, serta validasi pesan yang membuatnya banyak digunakan pada sistem besar seperti perbankan, 
                    layanan pemerintah, dan perusahaan korporat yang membutuhkan keandalan dan konsistensi data tinggi.
                    </p>   
            </div>
            </div>
            </div>
        </section>
        {{>footer}}
    </body>
</html>
