<header>
  <div class="judul">
    <h1>{{judul}}</h1>
    <nav class="navigasi">
      <a href="/">Home</a>
      <a href="/tentang">Tentang</a>
      <a href="/bantuan">Bantuan</a>
      <a href="/berita">Berita</a>
    </nav>
  </div>
</header>